.filter-sort {
    padding-top: 51px;
    padding-bottom: 65px;
    box-sizing: border-box;
    height: 132px;
    display: flex;
    justify-content: space-between;
    gap: $gapGrid;
}
    
.filter {
    max-width: 360px;
    box-sizing: border-box;
    z-index: 10;

    &[open] {
        background: $colorWhite;
        box-shadow: $boxShadow;
    }

    &[open] .filter__head {
        color: $colorSelectSite;
    }

    &[open] .filter__heading {
        color: $colorTextLight;
    }

    &[open] path {
        fill: $colorSelectSite;
    }
    
    &__content {
        background-color: $colorWhite;
        padding: 0 16px 16px 16px;
        position: absolute;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
    } 
        
    &__head {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
    }
        
    &__item[open] .filter__heading {
        color: $colorSelectSite;
    }

    &__item {
        margin-top: 16px;
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid $colorBorder;
        border-left: 5px solid $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
            
    &__link {
        color: $colorTextLight;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; 
        &:hover {
            color: $colorSelectSite;
        }
    } 
}

.sort {
    display: flex;
    gap: 18px;
    
    &__details {
        position: relative;
    }
    
    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: $colorTextLight;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; 
    }
    
    &__heading {
        color: $colorTextLight;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; 
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: $colorWhite;
        box-shadow: $boxShadow;
        padding: 7px 30px 11px 9px; 
        position: absolute; 
        left: -9px;
        top: 22px;
    }
}


.product-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: $gapGrid;
}
    
.product {
    max-width: $thirdSite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__img {
        width: 100%;
    }
    
    &__content {
        background-color: $colorContent;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }
    
    &__text {
        color: $colorTextLight;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
    }
    
    &__price {
        color: $colorSelectSite;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.pagination {
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 96px;

    &__content {
        height: 43px;
        width: 283px;
        padding: 12px 16px;
        justify-content: space-between;
        align-items: center;
    }

    &__numbers {
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        color: $colorTextLight;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__numbers-active {
        color: $colorSelectSite;
    }

    &__row path {
        fill: $colorTextLight;
    }
}


// ----------------------------------------
// TABLET
// ----------------------------------------
@media (max-width: 1024px) {

    .top-head {
        height: 148px;

        &__heading {
            margin-left: 16px;
        }
    }

    .breadcrumbs {
        margin-right: 16px;
    }
    
    .filter-sort {
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 40px;

        &__heading {
            margin-left: 16px;
            margin-right: 0;
        }
    }

    .product {
        // max-width: $halfSiteTablet;
        max-width: 500px;
        display: flex;
        flex-direction: column;

        &-box {
            justify-content: center;
            gap: $gapGridTablet;
        }

        &_off {
            display: none;
        }
    }  

    .pagination {
        padding-top: 40px;
        padding-bottom: 64px;
    }
}


// ----------------------------------------
// iPhone 
// ----------------------------------------

@media (max-width: 768px) {

    .top-head {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 46px;

        &__heading {
            margin-left: 0;
        }
    }

    .breadcrumbs {
        margin-right: 0;
    }

    .filter {
        &__head {
            display: none;
        }
    }

    .filter-sort {
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 40px;

        &__heading {
            margin-left: 16px;
            margin-right: 0;
        }
    }

    .sort__heading {
        font-size: 12px;
    }

    .product {
        max-width: $widthSiteIphone;
    }
}