* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
    
.flex {
    display: flex;
}

img {
    min-width: 100%;
}

summary {
    display: block;
}
    
summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #FBFBFB;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header__cart {
    position: relative;
    &__cart::after {
    content: "5";
    position: absolute;
    top: -9px;
    right: -9px;
    width: 19px;
    height: 19px;
    background-color: $colorSelectSite;
    color: $colorWhite;
    font-size: 12px;
    border-radius: 15px;
    }
}

/* TOP */
.top {
    background-color: $colorSite;
    box-sizing: border-box;
    max-height: 764px;
    position: relative;
    z-index: -10;

    &__index {
        padding-left: calc(50% - 800px);
        padding-right: calc(50% - 800px);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__left {
        width: 50%;
        background-color: #71676914;
    }

    &__main-img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    &__main-filter {
        width: 100%;
        height: 100%;
        background-color: #71676914;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
    }

    &__right {
        width: 50%;
        padding-left: 64px;
        align-items: center;  
    }

    &__title__text {
        border-left: 12px solid $colorSelectSite;
        padding-left: 16px;
    }

    &__row-1 {
        color: $backBlock;
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    &__row-2 {
        color: $backBlock;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__colortext {
        color: $colorSelectSite;
    }
}


/* MAIN__CONTENT */

.main {
    background-color: $colorWhite;
}


/* main__top */
.main__top {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 96px;

    &__row1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: $gapGrid;
        margin-bottom: $gapGrid;
    }
    
    &__row2 {
        // max-width: 98%;
        height: 180px; 
        background-color: #211616B2; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &__item {
        width: $thirdSite;
        height: 260px;
        background-color: #211616B2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__item1 {
        background-image: url(img/topical1.jpg);
    }

    &__item2 {
        background-image: url(img/topical2.jpg);
    }

    &__item3 {
        background-image: url(img/topical3.jpg);
    }

    &__row2 {
        background-image: url(img/topical4.jpg);
    }
    
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #211616B2;
    }
    
    &__link:hover {
        border: $colorSelectSite 1px solid;
        padding-right: 16p;
    }
    
    &__text-1 {
        color: $colorWhite;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    &__text-2 {
        color: $colorSelectSite;
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

/* main__content */

.mc {
    background-color: $colorWhite;
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__content {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 32%);
        justify-content: center;
        margin-bottom: 48px;
    }

    &__title {
        color: #222;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 6px;
    }
    
    &__subtitle {
        color: #9F9F9F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 48px;
    }

    &__link {
        box-sizing: border-box;
        color: $colorSelectSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        justify-content: center;
        padding: 15px 37px;
        border: $colorSelectSite 1px solid;
        transition: all 500ms ease;
        &:hover {
            background-color: $colorSelectSite;
            border: $colorSelectSite 3px solid;padding: 15px 35px;
            color: $colorWhite;
        } 
    }

    &__img-2 {
        display: flex;
        justify-content: center;
        background-color: #F3EDED;
        align-items: center;
        max-height: 420px;
    }
}

.mc__item {
    flex-direction: column; 
    position: relative;
    z-index: 0;

    &__img {
        width: 100%;
        max-width: 360px;
        height: 420px;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    &__img__cart {
        box-sizing: border-box;
        width: 139px;
        height: 44px;
        border: 1px solid $colorWhite;
        justify-content: space-between;
        align-items: center;
        padding-left: 14px;
        padding-right: 16px;
        opacity: 0;
        transition: 1s;
    }
    
    &-1, &-2, &-3, &-4, &-5, &-6 {
        max-width: 360px;
        height: 581px;
        
    }

    &__img:hover &__img__cart{
        opacity: 1;
    }

    &__img:hover {
        background-color: rgba(58, 56, 56, 0.86);
    }

    &-1 {
        background-image: url(img/catalog_1.png);
    }
    
    &-2 {
        background-image: url(img/item6.jpg);
    }
    
    &-3 {
        background-image: url(img/catalog_3.png);
    }
    
    &-4 {
        background-image: url(img/catalog_4.png);
    }
    
    &-5 {
        background-image: url(img/content__img-5.png);
    }
    
    &-6{
        background-image: url(img/content__img-6.png);
    }
    
    &__text__cart {
        color: $colorWhite;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;   
    } 
    
    &__dsc {
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: $colorContent;
    }
    
    &__heading {
        color: $colorText;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover {
            color: $colorSelectSite;
        }
    }
    
    &__text {
        color: $colorTextLight;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }    
}

article {
    position: relative;
}

h4 > a::before {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
}

.mc__item__text, .price {
    pointer-events: none;
}

.price {
    color: $colorSelectSite;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__link {
    width: 212px;
    height: 48px;
}

// ----------------------------------------
// TABLET
// ----------------------------------------
@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - $widthSiteTablet / 2);
        padding-right: calc(50% - $widthSiteTablet / 2);
    }  
  

    /* TOP */
    .top {

        &__index {
            padding-left: calc(50% - 50vw);
            padding-right: calc(50% - 50vw);
        }

        &__right {
            padding-left: 40px;
            padding-right: 30px;
        }

        &__row-1 {
            font-size: 44px; 
        }

        &__row-2 {
            font-size: 24px; 
        }
    } 

    /* main__top */
    .main__top {
        gap: 20px;
        padding-top: 19px;
        padding-bottom: 155px;

        &__item {
            width: $thirdSiteTablet;
            background-position-x: center;
        }

        &__row1 {
            gap: 20px;
            margin-bottom: 0;
        }

        &__row2 {
            max-width: $widthSiteTablet;
            height: 116px;
        }

        &__right {
            padding-left: 40px;
        }

        &__text-1 {
            font-size: 16px; 
        }

        &__text-2 {
            font-size: 24px; 
        }

    }

    // mc
    .mc {
        margin-bottom: 64px;

        &__content {
            gap: 16px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 32px;
        }

        &__item {
            width: $halfSiteTablet;
        }

        &__item__img {
            width: $halfSiteTablet;
        }
    }
    
}

// ----------------------------------------
// iPhone 
// ----------------------------------------
@media (max-width: 768px) {
    
    .center {
        padding-left: calc(50% - $widthSiteIphone / 2);
        padding-right: calc(50% - $widthSiteIphone / 2);
    } 

    /* TOP */
    .top {
        min-height: 363px;

        &__index {
            padding-top: 148px;
            padding-bottom: 148px;
        }

        &__left {
            display: none;
        }

        &__right {
            width: 98vw;
        }

        &__row-1 {
            font-size: 38px;
        }

        &__row-2 {
            font-size: 20px;
            width: 98vw;
        }
    } 

    .main__top {
        align-items: center;

        &__row1 {
            flex-direction: column;
        }

        &__row2 {
            width: 98%;
            min-height: 111px;
       }
        
        &__item {
            min-height: 248px;
        }

    }

     // mc
     .mc {
        margin-bottom: 96px;

        &__content {
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
        }
    }  
}
   