.register-content {
    min-height: 675px;
    padding-top: 64px;
    padding-bottom: 96px;
    border: $colorText 1px solid;
    box-sizing: border-box;

    &__box {
        justify-content: space-between;
    }

    &__data-box {
        justify-content: space-between;
        width: 100%;
        min-height: 45px;
        color: $colorInput;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    // left
    &__left {
        width: 32%;
        height: 516px;
        flex-direction: column;
        position: relative;
    } 

    &__data {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 36px;
    }

    &__data-title {
        color: $colorText;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }

    &__form1 {
        flex-direction: column;
        gap: 20px;
        outline: none;
    }

    &__form2 {
        flex-direction: row;
        gap: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    &__radio {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__form2-radio {
        gap: 10px;
    }

    &__data-box {
        padding-top: 13px;
        padding-bottom: 16px;
        padding-left: 17px;
        // color: $colorInput;
        &:focus {
            outline: none;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $colorInput;
            opacity: 1; /* Firefox */
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $colorInput;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $colorInput;
        }
    }

    &__data-box_text {
        color: $colorInput;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;    
    }

    &__button {
        padding: 16px 29px;
        width: 168px;
        align-items: center;
        justify-content: center;
        background-color: $colorSelectSite;
        color: $colorWhite;
        gap: 20px;
        color: $colorWhite;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        bottom: 0;
        &:hover {
            font-weight: 700;
        }
    }

    // right
    &__right {
        width: 57%;
        height: 516px;
        flex-direction: column;
        gap: 21px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 24px;
        color: $colorText;
    }

    &__right-list {
        flex-direction: column;
        gap: 16px;
    }

    &__item {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    &__right-title {
        font-weight: 300;
    }
}