$colorSelectSite: #F16D7F;
$backBlock: #222;
$colorText: #000;
$colorTextLight: #636363;
// $colorTextLight: #5D5D5D;
$colorWhite: #fff;
$colorSite: #F1E4E6;
$colorTop: #F8F3F4;
$colorContent: #F8F8F8;
$colorBorder: #E1E1E1;
$colorForm: #F4F4F4B2;
$colorInput: #A4A4A4;
$boxShadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
$widthSite: 1140px;
$gapGrid: 30px;
$thirdSite: calc(($widthSite - (2 * $gapGrid)) / 3);